[submodule "NintenTools.Bfres"]
	path = src/NintenTools.Bfres
	url = https://github.com/KillzXGaming/NintenTools.Bfres.git
[submodule "Maths"]
	path = src/Maths
	url = https://gitlab.com/Syroot/Maths.git
[submodule "BinaryData"]
	path = src/BinaryData
	url = https://gitlab.com/Syroot/BinaryData.git
