[submodule "NintenTools.Bfres"]
	path = NintenTools.Bfres
	url = https://github.com/KillzXGaming/NintenTools.Bfres.git
[submodule "Maths"]
	path = Maths
	url = https://gitlab.com/Syroot/Maths.git
[submodule "BinaryData"]
	path = BinaryData
	url = https://gitlab.com/Syroot/BinaryData.git
